*{
    margin: 0;
    padding:0;
     text-align: center;
}
h1{
    background-color: #081b31;
    color:aliceblue;
    height:3rem;
    text-align: center;
    line-height: 2rem;
    display: inline;
    margin-bottom: 5rem;
    border-radius: 1rem;
}
.choice{
    height: 200px;
    width:200px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor:pointer;
    background-color: #081b31;
}

img{

height: 100px;
    width:100px;
    text-align: center;
    object-fit: cover;
    border-radius: 60%;
}
.choices{
    display :flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:4rem;
}
#user-score{
font-size: 3rem;
}
#comp-score{
    font-size: 3rem;

}
.msg-container{
    margin-top: 3rem;
}
#msg{
background-color: blanchedalmond;
color:black;
font-size: 2rem;
display:inline;
padding: 1rem;
border-radius: 1rem;
}